body
	
.all-content {
	display: flex;
	flex-direction: column;
	margin: 5%;
	background-color: #d5f3f8;
}

.photo-container {
	margin: 3%;
	width: 75%;
	height: auto;
	margin: auto;

}

.main-photo img {
	width: 50%;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column; 
}	

.photo-caption p {
	color: #000000;
	font: "Times New Roman";
	font-size: 14px;
	font-style:italic; 
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;

}

.headline-container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	margin: 3%; 
}

.headline-text {
	display: flex;
	text-align: center;
	font-size: 36px;
	font-family: 'Lato', sans-serif; 
	color: #000000;
	margin: auto;
}
 
.byline-dateline-container {
	align-items: center;
}

.byline-text {
	color: #000000; 
	font-family: "Times New Roman";
	font-size: 14px;
	text-align: center; 
} 

.dateline-text { 
	color: #000000; 
	font-family: "Times New Roman";
	font-size: 14px;
	text-align: center; 

}

.article-container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
	padding-bottom: 15px; 

}


.article-text p { 
	color: #000000; 
	font-size: 18 px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
	justify-content: center;

 }

 .methodology { 
	color: #000000; 
	padding-top: 20px;
	font-size: 18 px;
	text-align: left;
	margin-left: 5%;
	margin-right: 5%;
 }

.chart-embed {
	display: flex;
	justify-content: center;
	/* border: 2px solid #808080; 
	border-radius: 5px;
	padding: 2%; */
}

.chart-photo img {
	width: 75%;
	height: auto;
}

.footer p {
	color: #938c77; 
	font-size: 10px;
	font-style: italic;
	text-align: center; 
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;

}
@media (max-width: 681px) { 

.main-photo img {
	width: 100%;
	height: auto;
	margin: auto;
	display: block; 
}

.chart-photo img {
	width: 90%;
	height: auto;
	display: flex; 
}

.main-photo img {
	width: 75%;
	height: auto;
	margin: auto;
	display: flex;
	flex-direction: column; 
}	

.headline-text {
	display: block;
	text-align: center;
	font-size: 28px;
	font-family: 'Bakbak One', sans-serif bold; 
	color: #000000;
	margin: auto;
	margin-top: 5px;
}

.photo-caption p {
	color: #000000;
	font: "Times New Roman";
	font-size: 16px;
	font-style: italic;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;

}